<div class="container">
	<h1>About</h1>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque enim libero, rutrum quis turpis sit amet, aliquet pellentesque ipsum. Donec et pulvinar massa. Aenean ornare commodo risus, nec rhoncus turpis accumsan fermentum. Aenean nisl nulla, sodales vitae ornare dignissim, afgsfiaculis commodo odio. Aliquam tristique tincidunt mollis. Morbi non fermentum magna, et ultricies tortor. Cras faucibus dignissim tellus quis fermentum. Pellentesque mollis id massa in consequat. Aliquam eget libero quis eros facilisis rhoncus in quis lacus.
</div>

<script type="text/javascript">
	function toggle(obj) {
		var el = document.getElementById(obj);
		if ( el.style.display != 'none' ) {
			el.style.display = 'none';
		}
		else {
			el.style.display = '';
		}
	}
</script>