<h2>Sign in!</h2>
<form class="login" role="form" action="checklogin">
	<input type="text"id="email" placeholder="Email">
	<input type="password" id="password" placeholder="Password">
	<input type="submit" value="Login">
</form>