<!DOCTYPE html>
<html>
<head>
  <title>CharityHost</title>
  	<link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/charity.css?body=1" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/home.css?body=1" media="all" rel="stylesheet" />

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main">
	<h1>This charity needs to be validated by a CharityHosting.ie</br> moderator. This should take less than 24 hours.</h1>
</div>

</body>
</html>
