<div id="alerts">
	<% if flash[:notice] %>
		<div class="alerts">
			<div class="alert alert-success alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if flash[:error] %>
		<div class="alerts">
			<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= flash[:error] %>
		</div>
	<% end %>
</div>