<h1>CharityHosting.ie</h1>

<% if !user_signed_in? %>
	<%= render partial: "devise/shared/links" %>
<% else %>
	<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
	<%= render partial: "charity/admin/registrations/new" %>	

	<div class="spacer"></div>

	<% current_user.managed_charities.each do |charity| %>
		<p><%= link_to charity.name, charity %></p>
	<% end %>
<% end %>