<% content_for :page_title do %>
	Configure Appearance
<% end %>

<h3>Change text color</h3>
<%= form_for @charity.settings, url: appearance_path(@charity.id, :update_template) do |f| %>
	<%= f.label :text_color, "Text Color" %>
	<%= f.text_field :text_color %>

	<%= f.submit "Save Changes" %>

<% end %>