<h1>Editing Appearance of <%= @charity.name %></h1>

<ul>
	<li><%= link_to "Change base template", appearance_path(@charity.id, :template) %></li>
	<li><%= link_to "Configure template", appearance_path(@charity.id, :configure_template) %></li>
</ul>