/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.spacer{
	width: 100%;
	display: block;
	border-top: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}

body{
	margin: 0;
	padding: 0;
}

.wysiwyg-font-size-large {
  font-size: large;
}
.wysiwyg-font-size-small {
  font-size: small;
}

.wysiwyg-color-red {
  color: red;
}
.wysiwyg-color-green {
  color: green;
}
.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-right {
  text-align: right;
}