// Place all the styles related to the Charity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$nav-width: 25%;
$nav-color: #232323;
$white: #f1f1f1;

$light-blue: #368BE1;
$dark-blue: #1F68DC;

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body{
	font-family: 'Droid Sans', sans-serif;
	background-color: #e6e6e6;
}

nav{
	color: $white;
	top: 0;
	left: 0;
	height: 100%;
	width: $nav-width;
	position: absolute;
	background-color: #232323;
	h1{
		padding: 25px;
		margin-top: 0;
		background-color: #C02222;
	}
	ul{
		list-style: none;
		padding: 0;
		li>*{
			padding: 10px;
			padding-left: 25px;
			display: block;
		}
		li a{
			padding-left: 35px;
			text-decoration: none;
			color: #888;
		}
		li a:hover{
			background-color: #333;
			border-left: 1px solid $white;
			padding-left: 34px;
		}
	}
}

#main{
	padding-left: 50px;
	margin-left: $nav-width;
	div#topbar{
		height: 50px;
		line-height: 50px;
		font-size: 1.2em;
		margin-top: 25px;

		h2{
			margin: 0;
			float: left;
			// font-weight: 100;
		}
		span{
			float: right;
			margin-right: 50px;
			// font-weight: 100;
		}
	}
	div.charity_posts{
		h3{
			// font-weight: 100;
		}
		ul{
			padding-left: 0;
			list-style: none;
			li{
				padding: 20px;
				margin-right: 50px;
				background-color: #f1f1f1;
				margin-top: 10px;
				border-radius: 3px;
				border-bottom: 2px solid #d8d8d8;

				.post-right{
					float: right;
				}
			}
		}
	}
}